<%= simple_form_for([@business, @delivery]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :delivery_man_id, as: :select2, collection: DeliveryMan.all, wrapper_html: {class: 'col-md-3'} %>
      <% if f.object.persisted? %>
        <%= f.input :order_ids, as: :select2, collection: Order.readies + @delivery.orders, multiple: true, 
          label_method: ->(order) { order.to_s }, i18n: { formatNoMatches: 'No existen pedidos listos para ser enviados.' }, wrapper_html: {class: 'col-md-3'}  %>
      <% else %>
        <%= f.input :order_ids, as: :select2, collection: Order.readies, multiple: true, 
          label_method: ->(order) { order.to_s }, i18n: { formatNoMatches: 'No existen pedidos listos para ser enviados.' }, wrapper_html: {class: 'col-md-3'}  %>
      <% end %>
      <%= f.input :start_date, as: :datetime_picker, input_html: { value: Date.today.strftime('yyyy-MM-dd') }, wrapper_html: {class: 'col-md-3'}  %>
      <%= f.input :end_date, as: :datetime_picker, disabled: true, wrapper_html: {class: 'col-md-3'}  %>
      <%= f.hidden_field :path_strategy, value: @business.path_strategy %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', 
      value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>
<% end %>
