<%= simple_form_for([@business, @delivery]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-5">
        <%= f.input :delivery_man_id, as: :select2, collection: DeliveryMan.all %>
        <%= f.input :start_date, as: :datetime_picker, input_html: { value: Date.today.strftime('yyyy-MM-dd') } %>
        <%= f.input :end_date, as: :datetime_picker, disabled: true %>
        <% if f.object.persisted? %>
          <%= f.input :order_ids, as: :select2, collection: Order.readies_and_selected(f.object.id), multiple: true, 
            label_method: ->(order) { order.to_s }, i18n: { formatNoMatches: 'No existen pedidos listos para ser enviados.' } %>
        <% else %>
          <%= f.input :order_ids, as: :select2, collection: Order.readies, multiple: true, 
            label_method: ->(order) { order.to_s }, i18n: { formatNoMatches: 'No existen pedidos listos para ser enviados.' } %>
        <% end %>
        <%= f.hidden_field :path_strategy, value: @business.path_strategy %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', 
      value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>
<% end %>
