<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1><%= t '.title', default: t('global.show.title') %></h1>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= link_to icon('chevron-left'), business_deliveries_path(@business), 
          class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.back')) %>
        <%= link_to icon('pencil'), edit_business_delivery_path(@business, @delivery), 
          class: 'btn btn-primary', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.edit')) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal well well-sm">
        <dt><%= t 'activerecord.attributes.delivery.start_date' %></dt>
        <dd><%= @delivery.start_date %></dd>
        <dt><%= t 'activerecord.attributes.delivery.end_date' %></dt>
        <dd><%= @delivery.end_date %></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <dl class="dl-horizontal well well-sm">
        <dt><%= t 'activerecord.attributes.delivery.delivery_man' %></dt>
        <dd><%= @delivery.delivery_man %></dd>
    </dl>
  </div>
</div>
<div class="block-group">
  <div class="block left-column col-3">
    <div class="list">
      <% if @delivery.orders.any? %>
        <ul>
          <% @delivery.orders.each do |order| %>
            <li>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal well well-sm order-list">
                      <dt><%= t 'activerecord.attributes.order.address' %></dt>
                      <dd><%= order.address %></dd>
                      <dt><%= t 'activerecord.attributes.order.status' %></dt>
                      <dd><%= raw t "enum.order.status.#{order.status}" %></dd>
                  </dl>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="no-results">
          <p>El reparto no tiene ordenes asociadas.</p>
        </div>
      <% end -%>
      <div class="list-footer">
        <%# link_to("Más resultados", "javascript:;", id: "more") %>
      </div>
    </div>
  </div>
  <div class="right-column block col-7">
    <div class="toggle-control">
      <button type="button" class="toggle-btn toggle-btn-hide" > &lt; </button>
    </div>
    <div data-google-maps="<%= Settings.google_maps.javascript_api_key %>" 
         data-url="<%= positions_business_delivery_path(@business, @delivery) %>"
         data-orders-positions-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
