<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :business_id, as: :select2, collection: Business.all,
        wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :delivery_id, as: :select2, collection: Delivery.all,
        wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :address, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :start_date, wrapper_html: { class: 'col-md-6' },as: :date, html5: true %>
      <%= f.input :end_date, wrapper_html: { class: 'col-md-6' },as: :date, html5: true %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', 
      value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>
<% end %>
