<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1><%= t '.title', default: t('global.show.title') %></h1>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= link_to icon('chevron-left'), orders_path, 
          class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.back')) %>
        <%= link_to icon('pencil'), edit_order_path(@order), 
          class: 'btn btn-primary', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.edit')) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
        <dt><%= t 'activerecord.attributes.order.business' %></dt>
        <dd><%= @order.business %></dd>
        <dt><%= t 'activerecord.attributes.order.address' %></dt>
        <dd><%= @order.address %></dd>
        <dt><%= t 'activerecord.attributes.order.start_date' %></dt>
        <dd><%= @order.start_date %></dd>
        <dt><%= t 'activerecord.attributes.order.end_date' %></dt>
        <dd><%= @order.end_date %></dd>
    </dl>
  </div>
</div>
