<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1><%= t '.title', default: t('global.track_order.title') %></h1>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= link_to icon('chevron-left'), trackit_index_path, 
          class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.back')) %>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="search">
    <%= simple_form_for(:order, url: business_track_order_path(@business), method: 'GET') do |f| -%>
      <div class="row">
        <%= f.input :hash_code,
                    required: false,
                    label: t('.hash_code'),
                    wrapper_html: { class: 'col-md-4' }
        %>
      </div>
      <div class="row">
        <div class="col-md-4 text-right">
          <%= f.submit t('global.filters.search_order'), class: 'btn btn-info btn-sm' %>
          <%= link_to icon('remove'),
                      business_track_order_path(@business, _reset: 'reset'),
                      title: t('global.filters.clear_filter'),
                      data: { toggle: 'tooltip', container: 'body', placement: 'left' },
                      class: 'btn btn-primary btn-sm' -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<% if @order.present? %>
    <div class="row">
      <div class="col-md-6">
        <dl class="dl-horizontal well well-sm">
            <dt><%= t 'activerecord.attributes.order.start_date' %></dt>
            <dd><%= @order.start_date %></dd>
            <dt><%= t 'activerecord.attributes.order.end_date' %></dt>
            <dd><%= @order.end_date %></dd>
        </dl>
      </div>
      <div class="col-md-6">
        <dl class="dl-horizontal well well-sm">
            <dt><%= t 'activerecord.attributes.delivery.delivery_man' %></dt>
            <dd><%= @order.delivery.try :delivery_man || "Repartidor no asignado" %></dd>
        </dl>
      </div>
    </div>
    <div class="block-group">
      <div class="block left-column col-3">
        <div class="list">
          <div class="row">
            <div class="col-md-12">
              <dl class="dl-horizontal well well-sm order-list">
                <dt><%= t 'activerecord.attributes.order.address' %></dt>
                <dd><%= @order.address %></dd>
                <dt><%= t 'activerecord.attributes.order.status' %></dt>
                <dd><%= raw t "enum.order.status.#{@order.status}" %></dd>
              </dl>
            </div>
          </div>
          <div class="list-footer">
            <%# link_to("Más resultados", "javascript:;", id: "more") %>
          </div>
        </div>
      </div>
      <div class="right-column block col-7">
        <% if @order.delivery.present? %>
          <div class="toggle-control">
            <button type="button" class="toggle-btn toggle-btn-hide" > &lt; </button>
          </div>
          <div data-google-maps="<%= Settings.google_maps.javascript_api_key %>" 
              data-url="<%= positions_business_order_path(@business, @order) %>"
              data-orders-positions-markers="<%= @order.serialized.to_json %>">
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <div class="alert alert-info" role="alert">
                <%= icon('info-sign') %>
                <%= "Su pedido aún no se encuentra en proceso de envio. En breve podrá seguir el recorrido que realiza el mismo en un mapa (deberá recargar la página)." %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <%= icon('info-sign') %>
        <%= "No encontramos su pedido! Por favor chequee el código ingresado." %>
      </div>
    </div>
  </div>
<% end %>
