<div class="page-header">
  <div class="row">
    <h1 class="col-md-10"> <%= t '.title' %></h1>
    <div class="actions col-md-2">
      <%= link_to icon('plus'), new_delivery_man_path, 
        class: 'btn btn-success', data: { toggle: 'tooltip', container: 'body' }, 
        title: t('delivery_men.actions.new', default: t('global.actions.new')) %>
      <a class="btn btn-info" role="button" data-toggle="collapse"
        href="#collapse_search_form" aria-expanded="false" aria-controls="collapse_search_form">
        <%= icon "filter" %>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <%= render 'filter', q: @q %>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t 'activerecord.attributes.delivery_man.nickname' %></th>
      <th><%= t 'activerecord.attributes.business.name' %></th>
      <th class="actions"><%= t '.actions', default: t('global.index.actions') %></th>
    </tr>
    </thead>

    <tbody>
      <% @delivery_men.each do |delivery_man| -%>
        <tr>
          <td><%= delivery_man.nickname %></td>
          <td><%= delivery_man.business %></td>
          <td>
            <div class="btn-toolbar btn-group-xs">
              <%= link_to icon('eye-open'), delivery_man,
                class: 'btn btn-link',
                title: t('delivery_men.actions.show', default: t('global.actions.show')),
                data: { toggle: 'tooltip', container: 'body', placement: 'left' } %>
              <%= link_to icon('pencil'), edit_delivery_man_path(delivery_man),
                class: 'btn btn-link',
                title: t('delivery_men.actions.edit', default: t('global.actions.edit')),
                data: { toggle: 'tooltip', container: 'body', placement: 'left' } %>
              <%= link_to icon('trash'), delivery_man,  method: :delete,
                class: 'btn btn-link text-danger',
                title: t('delivery_men.actions.destroy', default: t('global.actions.destroy')),
                data: { toggle: 'tooltip', container: 'body', placement: 'left', 
                        confirm: t('delivery_men.actions.confirm_destroy', 
                        default: t('global.actions.confirm_destroy'))} %>
            </div>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= render partial:'shared/pager', locals: { model: @delivery_men } %>

</div>
