<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1><%= t '.title', default: t('global.show.title') %></h1>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= link_to icon('chevron-left'), business_delivery_men_path(@business), 
          class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.back')) %>
        <%= link_to icon('pencil'), edit_business_delivery_man_path(@business, @delivery_man), 
          class: 'btn btn-primary', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.edit')) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
        <dt><%= t 'activerecord.attributes.delivery_man.nickname' %></dt>
        <dd><%= @delivery_man.nickname %></dd>
        <dt><%= t 'activerecord.attributes.delivery_man.business' %></dt>
        <dd><%= @delivery_man.business %></dd>
    </dl>
  </div>
</div>
