<div class="page-header">
  <div class="row">
    <div class="col-md-10">
      <h1><%= t '.title', default: t('global.show.title') %></h1>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= link_to icon('chevron-left'), business_delivery_men_path(@business), 
          class: 'btn btn-default', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.back')) %>
        <%= link_to icon('pencil'), edit_business_delivery_man_path(@business, @delivery_man), 
          class: 'btn btn-primary', data: { toggle: 'tooltip', container: 'body' }, 
          title: t('.back', default: t('global.actions.edit')) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <fieldset class="">
      <legend>Entregas asignadas</legend>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t 'activerecord.attributes.delivery.start_date' %></th>
              <th><%= t 'activerecord.attributes.delivery.end_date' %></th>
              <th><%= t 'activerecord.attributes.delivery.status' %></th>
            </tr>
          </thead>

          <tbody>
            <% @delivery_man.deliveries.each do |delivery| -%>
              <tr>
                <td><%= delivery.start_date %></td>
                <td><%= delivery.end_date %></td>
                <td><%= raw t "enum.order.status.#{delivery.status}" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </fieldset>
  </div>
</div>
