<%= simple_form_for([@business, @product]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :name, wrapper_html: { class: 'col-md-6' } %>
    </div>
    <div class="row">
      <%= f.input :description, wrapper_html: { class: 'col-md-6' } %>
      <%= f.input :price, as: :float, wrapper_html: { class: 'col-md-6' } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success', 
      value: t('.submit', default: t('global.form.actions.submit')) %>
  </div>
<% end %>
